@media screen and (max-width: 1650px) {

    #main,
    #favs {
        max-width: 840px;
    }
}

@media screen and (max-width: 964px) {

    #main-section,
    #favs-section {
        display: flex;
    }

    #accumulatedStats,
    #main,
    #favs {
        justify-content: center;
    }

    #main-section,
    #favs-section {
        align-items: center;
    }

    #main-section,
    #favs-section {
        flex-direction: column;
    }

    .tracker-container {
        max-width: 500px;
    }
}

@media screen and (max-width: 370px) {

    .sort {
        margin-left: 20px;
    }

}