.btn {
    padding: 10px 20px;
    background-color: black;
    /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: #45a049;
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}